
/* Step Form */

ul.step-counter {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.step-counter li {
    display: inline-block;
    padding: 5px 15px;
    background: #fff;
    color: #000;
    border-radius: 4px;
    margin: 0px 20px;
    cursor: pointer;
}

.step-counter li i{
    display: none;
}

.step-counter li.active {
    background: #64c8da;
    color: #fff;
}

.step-counter li.error i, .step-counter li.done i{
    display: inline;
}

.step-counter li.error {
    background: #da6464;
    color: #8c0a0a;
}

.step-counter li.done {
    background: #76da64;
    color: #fff;
}

.form-heading {
    border-left: 3px solid #64c8da;
    padding-left: 9px;
}